body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.home-section {
    background-image: url(background.jpeg); 
    background-size: cover;
}

#education, #experiences, #projects {
    background-color: navy; 
}

h1 {
    font-size: 36px;
    color: white;
}

p {
    font-size: 18px;
    color: white;
}
